html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* body > div {
	width: 100%;
} */

#all {
	display: flex;
	flex-direction: row;
	height: 100%;
}
#left {
	width: calc(100% - 250px);
}
#vruler {
	width: 3px;
	height: 100%;
	background-color: gray;
	cursor: col-resize;
}
#right {
	width: 245px;
	display: flex;
	flex-direction: column;
	user-select: none;
}

#doku {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	padding: 10px;
	height: 50px;
}
.clipboard {
	background-color: lightgreen; /* Startfarbe */
	animation: gruenFadeOut 1s forwards; /* Animation, Dauer: 1 Sekunde, behält den Endzustand bei */
}
@keyframes gruenFadeOut {
	from {
	  background-color: lightgreen;
	}
	to {
	  background-color: transparent;
	}
}
#debugVarsOut {
	font-size: 90%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 5px;
	flex-grow: 2;
}
#debugVarsOut span {
	display: block;
	white-space: nowrap;
}
#debugVarsOut span.Variables {
	background-color: #FADBD8;
}
#debugVarsOut span.Status {
	background-color: #FCF3CF;
}
#debugVarsOut span.nc {
	color: #c0c0c0;
}
#debugVarsOut span.error {
	color: red;
	background-color: yellow;
	padding: 5px;
	white-space: wrap;
	font-weight: bold;
}
#loaderOut .error {
	color: green;
	background-color: rgb(184, 238, 184);
	padding: 5px;
	white-space: wrap;
	font-weight: bold;
	margin-bottom: 8px;
}
/* #debugVarsOut tr td:nth-child(1) {
	text-align: right;
} */
/* #debugVarsOut tr td:nth-child(1) {
	padding:0 3px;
	white-space: nowrap;
} */


div#EWK {
	height: 200px;
}
div#editor_container {
	height: calc(100% - 200px);
	padding: 20px;
	overflow-y: auto;
	position: relative;
}

div#ewk_container, div#ewk_textcontainer {
	height: 100%;
}

div#json_button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	z-index: 1000;
	display: none;
}

input[type='file'] {
	display: none;
}

div#schema_select {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	visibility: hidden;
}

div#schema_select div {
	cursor: pointer;
	padding: 10px;
	border: 2px solid rgba(0,0,0,0);
}
div#schema_select >div:hover {
	border: 2px solid red;
	color: red;
}
div#schema_select img {
	max-height: 100px;
	max-width: 350px;
}
div#schema_select .templ {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

hr#ruler,hr#ruler2 {
	height: 3px;
	border-width: 0;
	color: gray;
	background-color: gray;
	cursor: row-resize;
	z-index: 10000;
	margin: 0 0 5px 0;
}

#fullscreen-overlay {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  padding: 0;
  margin: 0;
  background: #ffffff; /* Dein temporärer Hintergrund */
}

#debugLogsOut {
  padding: 5px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
#debugLogsOut .flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 3px;
}
#debugLogsOut .flex-container button {
 margin-left: auto;
}

#debugLogsOut .header {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
#debugLogsOut #clear {
  cursor: pointer;
}
#debugLogsOut > div {
  word-wrap: break-word;
}
#debugLogsOut #logs.header:not(.enabled),#debugLogsOut #events.header:not(.enabled),#debugLogsOut #messages.header:not(.enabled) {
  background-color: lightgray;
}
#debugLogsOut #logs.header.enabled {
  background-color: rgb(255, 255, 100);
}
#debugLogsOut #events.header.enabled {
  background-color: rgb(175, 234, 175);
}
#debugLogsOut #messages.header.enabled {
  background-color: lightpink;
}
#debugLogsOut > div.hidden {
  display: none;
}
#debugLogsOut > div.logs:nth-child(odd of .logs) {
	background-color: rgb(255, 255, 100);
}
#debugLogsOut > div.logs:nth-child(even of .logs) {
	background-color: #ffffd0;
}
#debugLogsOut > div.events:nth-child(odd of .events) {
	background-color: rgb(175, 234, 175);
}
#debugLogsOut > div.events:nth-child(even of .events) {
	background-color: #e0f8e0;
}
#debugLogsOut > div.messages:nth-child(odd of .messages) {
	background-color: rgb(254, 202, 211);
}
#debugLogsOut > div.messages:nth-child(even of .messages) {
	background-color: #ffe4e1;
}
#debugLogsOut > div > span.title {
	font-weight: bold;
	padding-right: 5px;
}

#send-msg {
	padding-right: 30px;
	padding-left: 30px;
	cursor: default;
}
#send-msg div {
	margin-top: 20px;
}
#send-msg textarea {
	width: 100%;
	height: 5em;
	cursor: text;
}
#send-msg .button {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#send-msg .button button, #send-msg select {
	cursor: pointer;
}
#debugLogsOut button {
	background-color: #ffe4e1;
}