html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* body > div {
	width: 100%;
} */

#all {
	display: flex;
	flex-direction: row;
	height: 100%;
}
#left {
	width: calc(100% - 250px);
}
#vruler {
	width: 3px;
	height: 100%;
	background-color: gray;
	cursor: col-resize;
}
#right {
	width: 245px;
}

#debugOut {
	font-size: 90%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 5px;
}
#debugOut span {
	display: block;
	white-space: nowrap;
}
#debugOut span.Variables {
	background-color: #FADBD8;
}
#debugOut span.Status {
	background-color: #FCF3CF;
}
#debugOut span.nc {
	color: #c0c0c0;
}
#debugOut span.error {
	color: red;
	background-color: yellow;
	padding: 5px;
	white-space: wrap;
	font-weight: bold;
}
/* #debugOut tr td:nth-child(1) {
	text-align: right;
} */
/* #debugOut tr td:nth-child(1) {
	padding:0 3px;
	white-space: nowrap;
} */


div#EWK {
	height: 200px;
}
div#editor_container {
	height: calc(100% - 200px);
	padding: 20px;
	overflow-y: auto;
	position: relative;
}

div#ewk_container, div#ewk_textcontainer {
	height: 100%;
}

div#json_button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	z-index: 1000;
	display: none;
}

input[type='file'] {
	display: none;
}

div#schema_select {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	visibility: hidden;
}

div#schema_select div {
	cursor: pointer;
	padding: 10px;
	border: 2px solid rgba(0,0,0,0);
}
div#schema_select >div:hover {
	border: 2px solid red;
	color: red;
}
div#schema_select img {
	max-height: 100px;
	max-width: 350px;
}
div#schema_select .templ {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

hr#ruler {
	height: 3px;
	border-width: 0;
	color: gray;
	background-color: gray;
	cursor: row-resize;
	z-index: 10000;
	margin: 5px 0;
}
