
div.simple-input-container {
    position: relative;
    padding: 0;
    margin: 0;
}
div.simple-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    border: 1px solid #ccc;
    user-select: none;
    cursor: text;
}

span.simple-input-cursor {
  position: absolute;
  width: 1px;
  background: black;
  animation: blink 1s steps(1) infinite;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
